body{
	margin: 0;
	padding: 0;
	background-image: url("images/index.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 2350px;
}

header{
	background: rgba(21,30,43,0.8);
	color: #FF4000;
	padding: 10px 30px;
	margin: 0px 0px 50px 0px;
}

ul{
	margin: 0;
	padding: 0;
	/*ul-shi li-ebis standartuli machvenebeli 
	wertilebis wasashlelad list-style-type:none*/

}
/*sheni menu-s gilakebi dizaini*/
li{
display: inline-block;
margin-right: 80px;
/*linkebis textis zoma*/
font-size: 1.5em;
}

form {
	width: 35%;
	margin:22px auto;
	padding: 70px;
	background: rgba(21,30,43,0.8);
	color:white;
	outline: none;
}

.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 20px;
	border: 1px solid gray;
	background: rgba(0,0,0,0.6);
}

button{
	padding:9px 25px;
	background-color: rgba(255,51,10,1);
	border: none;
	border-radius: 50px;
	outline: none;
}

button:hover{
	background-color: rgba(255,51,10,0.8);
}

footer{
	/* rgba(1,1,1,0.8) es imistvis ro background semi-transparent gaxdes */
	background: rgba(21,30,43,0.8);
	color: #FF4000;	
	padding: 10px 30px 40px 30px;
    margin-top: 30%;
}

textarea:focus, input:focus {
    color: white;
}

input, select, textarea{
    color: grey;
}