body{
	margin: 0;
	padding: 0;
	font-family: 'Baskervville', serif;
	background-image: linear-gradient(to right , #eb4034, #2978d9);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

header{
	background: rgba(0,0,0,1);
	box-shadow: 0 0 60px black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color:#2978d9; 
	padding: 10px 5%;
	height: 88px;
}

#logo{
	margin-right: auto;
	width: 200px;
	height: 130px;
}

ul{
	margin: 0;
	padding: 0;
	/*ul-shi li-ebis standartuli machvenebeli 
	wertilebis wasashlelad list-style-type:none*/

}
/*sheni menu-s gilakebi dizaini*/
li{
display: inline-block;
margin-right: 80px;
/*linkebis textis zoma*/
font-size: 1.15em;
}



form {
	width: 35%;
	box-shadow: 0 0 60px black;
	margin:10% auto;
	padding: 70px;
	background: rgba(0,0,0,0.9);
	color:white;
	text-transform: none;
	outline: none;
	border: none;
	border-radius: 20px;
}

.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 20px;
	border: 1px solid grey;
	background: rgba(0,0,0,0.6);
	outline: none;
}

.input-group input:focus{
	border: 1px solid #358af2;
}

button{
	padding:9px 25px;
	background-color: black;
	border-radius: 50px;
	outline: none;
	border: 2px solid #358af2;
	color: white;
}

a button{
	padding:9px 25px;
	background-color: black;
	margin-left: 10px;
	border-radius: 50px;
	outline: none;
	border: 2px solid #358af2;
	color: white;
}

button:hover{
	background-color: #358af2;
}

footer{
	/* rgba(1,1,1,0.8) es imistvis ro background semi-transparent gaxdes */
	background: rgba(0,0,0,1);
	box-shadow: 0 0 60px black;
	color: #eb4034;	
	padding: 10px 30px 40px 30px;
    margin-top: 30%;
    text-transform: none;
}

textarea:focus, input:focus {
    color: #358af2;
}

input, select, textarea{
    color: grey;
}



.show-menu-btn, .hide-menu-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn{
	float: right;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}


.added{
	display: none
}


@media screen and (max-width:992px){
	.show-menu-btn, .hide-menu-btn{
		display: block;
	}

	.menu{
		position: fixed;
		width: 50%;
		height: 100vh;
		background: rgba(0,0,0,0.95);
		right: 0;
		left: 50%;
		top: 0;
		text-align: left;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s ease;
	}

	.menu li{
		display: block;
		padding: 20px;
	}

 	.menu li:hover{
 		background: #2978d9;
 		width: 100%;
 	}

  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

	.headerbtn{
		display: none;
	}

	#chk:not(:checked)~.menu{
		left: 150%;
	}
}