/* unvisited link */
a:link {color: #FF4000;}

/* visited link */
a:visited {color: #FF4000;}

/* mouse over link */
a:hover {color: #ff8c1a;}

/* selected link */
a:active {color: #ffbf80}

/* unvisited link */
a:link {text-decoration: none;}

/* visited link */
a:visited {text-decoration: none;}

/* mouse over link */
a:hover {text-decoration: none;}

/* selected link */
a:active {text-decoration: none;}