/* unvisited link */
a:link {color: #5c9c74;}

/* visited link */
a:visited {color: #5c9c74;}

/* mouse over link */
a:hover {color: #5c9c74;}

/* selected link */
a:active {color: white;}

/* unvisited link */
a:link {text-decoration: none;}

/* visited link */
a:visited {text-decoration: none;}

/* mouse over link */
a:hover {text-decoration: none;}

/* selected link */
a:active {text-decoration: none;}