/* unvisited link */
a:link {color: #eb4034;}

/* visited link */
a:visited {color: #eb4034;}

/* mouse over link */
a:hover {color: #79aff2;}

/* selected link */
a:active {color: white;}

/* unvisited link */
a:link {text-decoration: none;}

/* visited link */
a:visited {text-decoration: none;}

/* mouse over link */
a:hover {text-decoration: none;}

/* selected link */
a:active {text-decoration: none;}