body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #fcbb49;
    background-repeat: no-repeat;
    background-size: 1400px 2350px;
    text-transform: uppercase;
	 /*konkretuli font-is gamosadzaxeblad font-family: font-name;*/
}

header{
	background: rgba(0,0,0,1);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 5%;
	color: #FF4000;
}

h1{
	color: #FF4000;
	font-weight: 1000;
	margin-right: auto;
}

ul{
	margin: 0;
	padding: 0;
	transition: all 0.5s ease;
	/*ul-shi li-ebis standartuli machvenebeli 
	wertilebis wasashlelad list-style-type:none*/
}

/*sheni menu-s gilakebi dizaini*/
li{
display: inline-block;
margin-right: 80px;
/*linkebis textis zoma*/
font-size: 1.15em;
}

a{
	display: block;
}


.show-menu-btn, .hide-menu-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn{
	float: right;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}


.added{
	display: none
}


@media screen and (max-width:992px){
	.show-menu-btn, .hide-menu-btn{
		display: block;
	}

	.menu{
		position: fixed;
		width: 50%;
		height: 100vh;
		background: rgba(0,0,0,0.95);
		right: 0;
		left: 50%;
		top: 0;
		text-align: left;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s ease;
	}

	.menu li{
		display: block;
		padding: 20px;
	}

 	.menu li:hover{
 		background: #701c00;
 		width: 100%;
 	}

  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

	button{
		display: none;
	}

	#chk:not(:checked)~.menu{
		left: 150%;
	}
}



button{
	padding:9px 25px;
	background-color: black;
	margin-left: 10px;
	border-radius: 50px;
	outline: none;
	border: 2px solid #FF4000;
	color: white;
}

button:hover{
	background-color: rgba(255,51,10,1);
}

section{
	background: rgba(0,0,0,0.8);
	color: #FF4000;
	padding: 10px 10px;
	margin: 20px 10px;
	display: grid;
	grid-template-columns:auto auto auto; 
	grid-gap: 10px;
	/*align-content: space-around;
	justify-content: space-between;
	teqstis gamchirvalobistvis opacity: 0.5;*/
}


img{
	background-size: cover;
	background-position: center;
	width:100%;
	/*mere gaaswore screen readeristvis text-: -99999999px;*/
}

footer{
	/* rgba(1,1,1,0.8) es imistvis ro background semi-transparent gaxdes */
	background: rgba(0,0,0,1);
	color: #FF4000;	
	padding: 10px 30px 40px 30px;
    margin-top: 100%;
    text-transform: none;
}