body{
	margin: 0;
	padding: 0;
	font-family: 'Baskervville', serif;
	background-image: linear-gradient(to right , #eb4034, #2978d9);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
	 /*konkretuli font-is gamosadzaxeblad font-family: font-name;*/
}

header{
	background: rgba(0,0,0,1);
	box-shadow: 0 0 60px black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color:#2978d9; 
	padding: 10px 5%;
	height: 88px;
}

#logo{
	margin-right: auto;
	width: 200px;
	height: 130px;
}

ul{
	margin: 0;
	padding: 0;
	transition: all 0.5s ease;
	/*ul-shi li-ebis standartuli machvenebeli 
	wertilebis wasashlelad list-style-type:none*/
}

/*sheni menu-s gilakebi dizaini*/
li{
display: inline-block;
margin-right: 80px;
/*linkebis textis zoma*/
font-size: 1.15em;
}

a{
	display: block;
}


.show-menu-btn, .hide-menu-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn{
	float: right;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}


.added{
	display: none
}


@media screen and (max-width:992px){
	.show-menu-btn, .hide-menu-btn{
		display: block !important;
	}

	.menu{
		position: fixed;
		width: 50%;
		height: 100vh;
		background: rgba(0,0,0,0.95);
		right: 0;
		left: 50%;
		top: 0;
		text-align: left;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s ease;
	}

	.menu li{
		display: block;
		padding: 20px;
	}

 	.menu li:hover{
 		background: #701c00;
 		width: 100%;
 	}

  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

	button{
		display: none;
	}

	#chk:not(:checked)~.menu{
		left: 150%;
	}

	section{
	background: rgba(0,0,0,0.8);
	color: #358af2;
	padding: 20px 20px !important;
	margin: 20px 5px !important;
	display: grid;
	grid-template-columns:auto !important; 
	grid-gap: 20px !important;
	/*align-content: space-around;
	justify-content: space-between;
	teqstis gamchirvalobistvis opacity: 0.5;*/
}
}

#middle_logo{
	text-align: center;
	font-size: 64px;
	color: rgba(0,0,0,0.9);
	animation: fade 2s ease forwards;
}

@media screen and (max-width:800px){
	#middle_logo{
	text-align: center;
	font-size: 60px;
	color: rgba(0,0,0,0.9);
	animation: fade 2s ease forwards;
}

p{
	text-align: center;
	font-size: 15px !important;
}
}

@media screen and (max-width:600px){
	#middle_logo{
	text-align: center;
	font-size: 45px;
	color: rgba(0,0,0,0.9);
	animation: fade 2s ease forwards;
}

p{
	text-align: center;
	font-size: 10px !important;
}
}

@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}



button{
	padding:9px 25px;
	background-color: black;
	margin-left: 10px;
	border-radius: 50px;
	outline: none;
	border: 2px solid #358af2;
	color: white;
}

button:hover{
	background-color: #358af2;
}

section{
	background: rgba(0,0,0,1);
	color: #358af2;
	box-shadow: 0 0 60px black;
	padding: 80px 20px;
	margin: 20px 0;
	display: grid;
	grid-template-columns:auto auto auto; 
	grid-gap: 20px;
	/*align-content: space-around;
	justify-content: space-between;
	teqstis gamchirvalobistvis opacity: 0.5;*/
}
p{
	text-align: center;
	font-size: 20px;
}

.text1{
	background-image: linear-gradient(to right , #ff9578, #70a0fa);
  	box-shadow: 0 0 60px black;
  	width: 90%;
  	margin: 5% auto;
  	padding: 0.5% 2%;
}

img{
	background-size: cover;
	background-position: center;
	width:100%;
	/*mere gaaswore screen readeristvis text-: -99999999px;*/
}
footer{
	/* rgba(1,1,1,0.8) es imistvis ro background semi-transparent gaxdes */
	background: rgba(0,0,0,1);
	color: #eb4034;	
	box-shadow: 0 0 60px black;
	padding: 10px 30px 40px 30px;
    margin-bottom: none;
    margin-top:20%;
    text-transform: none;
}